.body{
  font-family: 'Lora', serif;
  font-size: 2rem;
}
.navbar, .navbar-default{
  background-color: white;
  border-color: #0000;
}

.navbar-default .navbar-toggle{
  border-color: #0000;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #0066FF;
}

.debug{
  border: 1px solid black;
}
.login{
  border: 0px  solid transparent;
}

.navbar-default .navbar-nav > li > a{
  color: #051D4F;
  font-weight: bold;
}

.sign-up-button {
  border: 1px solid #0066FF;
  color: #0066FF;
}

.no-margin{
  margin-bottom: 0px;
}

.logo-img{
  height: 20px;
}

.custom-container{
  height: 800px;
}

.jumbotron{
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
}

.jumbotron h1{
  color: white;
  font-weight: bold;
}
.jumbotron p{
  color: #BACCFF;
}
h2{
  color: #1F3460;
font-weight: bold;
text-decoration: none;
}

h4{
  color: #1F3460;
font-weight: bold;
text-decoration: none;
}
h6{
  text-align: center;
  color: #74809B;
  font-weight: bold;
}

p {
  color: #5C6A88;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
}

span{
  color: #5C6A88;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
}

.pd-30{
  padding-top: 30px;
}

.pd-50{
  padding-top: 50px;
}

.middlenav{
  padding-left: 8%;
}

.login-Card{
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.login-Card h2{
  color: #1F3460;
  font-weight: bold;
  text-decoration: none;
}

.login-icon{
  height: 15px;
  float: left;
}

.invisible{
  opacity: 0%;
}

.btn{
  font-weight: bold;
}

.google{
  background-color: white;
  color: #7E7E7E;
  border-color: #0000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create{
  background-color: #579AFF;
  padding-left: 15px;
}

.partners{
  background-color: #F3F5F9;
}

.pd-64{
  padding-top: 64px;
  padding-bottom: 30px;
}
.logos{
  text-align: center;
}

.blue-h6{
  color: #0066FF;
}

.slider{
  text-align: center;
}

.slider > img
{
  width: 60%;
}

.prova{
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}

.blue-dots{
  text-align: center;
}

.dot{
  background-color: blue;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  padding: 0;
  font-size: 0;
}

.ww{
  background-color: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,72,197,1) 100%);
    height: 800px;
    z-index: 0;
}

.fa-lg{
  color: blue;
}



@media screen and (max-width: 1024px) {

}
